:root{
    --subtext-color: #64607D;
    --value-props__card__border-color:#DFDFDF;
    --bg-color:#FFFFFF;
    --card-button__color: #01966B;
    --value-props__btn__bg-color:#4F46BA;
}
body{
    font-family: 'Manrope', sans-serif;
    background-color: var(--bg-color);
    height: 4425px;
}
/* Mobile styles */
@media (min-width: 350px) and (max-width:760px) {
    body{
        width: 760px;
    }
     /* BLOG section START*/
    .blog__heading{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 96px; 
        margin-left: 30px;
        width: 760px;
        height: 60px;
    }
    .blog__card__display{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 55px;
    }
    /* BLOG section END*/
    /* CTA section START*/
    .cta{
        position: relative;
        width: 790px;
        margin-top: 47px;
        background: #3734A9;
        display: flex;
        flex-direction: column;
    }
    .cta__polygon2{
        position: absolute;
        margin-top: 11px;
        margin-left: 340px;
        margin-bottom:360px;
    }
    .cta__polygon3{
        position: absolute;
        margin-top: -116px;
        margin-left: 600px;
        margin-right: 55px;
        margin-bottom:313px;
    
    }
    .cta__txt{
        margin-left:122px;
    }
    .cta__form{
        margin-top: 30px;
        margin-right: 229px;
        margin-bottom: 65px;
        margin-left: 122px;
        width: 371px;
        height: 228px; 
    }
    /* CTA section END*/
    /* FOOTER section START*/
    .footer{
        width: 1512px;
    }
    .footer__items{
        display: grid;
        justify-content: center;
        gap: 20px;
        margin-left: -40px;
        margin-top: 66px;
        margin-bottom: 59px;
        width: 900px;
        grid-template-columns: 200px 200px 200px;
        grid-template-areas: "main company resources"
        "footer . .";
    }
    .footer__items-main{
        grid-area: main;
    }
    .footer__items-resources{
        grid: resources;
    }
    .footer__items-company{
        grid-area: company;
    }
    .footer__items-newsletter{
        grid-area: footer;
    }

    .footer__hr{
        width: 700px;
        margin-left: 72px;
    }
    .footer__copyright{
        width: 676px;
        left: 65px;
    }

    /* FOOTER section END*/
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 991px){
    body{
        width: 990px;
    }
    /* BLOG section START*/
    .blog__heading{
        display: flex;
        flex-direction: row;
        gap: 250px;
        align-items: center;
        margin-top: 96px;
        width: 990px;
        height: 60px;
        margin-left: 60px;
    } 
    .blog__card__display{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        margin-top: 55px;
        margin-left: 90px;
    }
    /* BLOG section END*/
    /* CTA section START*/
    .cta{
        position: relative;
        width: 990px;
        height: 450px;
        left: 0px;
        margin-top: 47px;
        background: #3734A9;
        display: flex;
        flex-direction: row;
        gap:25px;
    }
    .cta__polygon2{
        position: absolute;
        margin-top: 11px;
        margin-left: 340px;
        margin-bottom:360px;
    }
    .cta__polygon3{
        position: absolute;
        margin-top: -116px;
        margin-left: 780px;
        margin-right: 55px;
        margin-bottom:313px;
    
    }
    .cta__txt{
        margin-left:70px;
    }
    .cta__form{
        margin-top: 137px;
        margin-bottom: 65px;
        margin-left: 70px;
        width: 170px;
        height: 228px;
    }
    /* CTA section END*/
    /* FOOTER section START*/
    .footer{
        width: 800px;
    }
    .footer__items{
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-left: 20px;
        margin-top: 66px;
        margin-bottom: 59px;
    }
    .footer__hr{
     width: 900px;
     margin-left: 22px;
     margin-right: 20px;
    }
    .footer__copyright{
        width: 676px;
        left: 150px;
    }

    /* FOOTER section END*/
}
/* Laptop styles */
@media (min-width: 1000px){
    body{
        width: 1512px;
    }
    /* BLOG section START*/
    .blog__heading{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 96px; 
        margin-left: 122px; 
        gap: 539px;
        width: 1193px;
        height: 60px;
    }
    .blog__card__display{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 518px;
        width: 1196px;
        gap: 30px;
        margin-top: 55px;
        margin-left: 120px;
        margin-right: 196px;
    }
    /* BLOG section END*/
    /* CTA section START*/
    .cta{
        position: relative;
        width: 1440px;
        height: 450px;
        left: 0px;
        margin-top: 47px;
        background: #3734A9;
        display: flex;
        flex-direction: row;
    }
    .cta__polygon2{
        position: absolute;
        margin-top: 11px;
        margin-left: 640px;
        margin-bottom:360px;
    }
    .cta__polygon3{
        position: absolute;
        margin-top: -116px;
        margin-left: 1180px;
        margin-right: 55px;
        margin-bottom:313px;
    
    }
    .cta__txt{
        margin-left:122px;
    }
    .cta__form{
        margin-top: 137px;
        margin-right: 229px;
        margin-bottom: 65px;
        margin-left: 235px;
        width: 371px;
        height: 228px;
        left: 840px;  
    }
    /* CTA section END*/

    /* FOOTER section START*/
    .footer{
        width: 1512px;
    }
    .footer__items{
       display: flex;
       flex-direction: row;
       margin-left: 172px;
       margin-right: 200px;
       margin-top: 66px;
       margin-bottom: 59px;
    }
    .footer__items-main{
        margin-right:46px;

    }
    .footer__items-company{
       margin-right: 137px;
    }
    .footer__items-newsletter{
        margin-left:84px;
    }
    .footer__hr{
        width: 1140px;
        margin-left: 172px;
        margin-right: 200px;
    }
    .footer__copyright{
        width: 676px;
        left: 415px;
    }

    /* FOOTER section END*/
}




/* BLOG section START*/

.blog__heading__title{
    width: 459px;
    height: 50px;
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: -0.03em;
}
.blog__heading__btn{
    font-family: 'Manrope';
    font-weight: 600;
    height: 60px;
    width: 195px;
    display: flex;
    justify-content: flex-end;
    
}
.blog__heading__btn-txt{
    width: 195px;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    border: none;
    background: #4F46BA;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    color: #DEE1E6;
}

.blog__card{
    width: 380px;
    height: 518px;
    margin-bottom: 27px;
}
.blog__card__txt{
    width: 378px;
    height: 90px;
    left: 530px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16.5px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;
}
.blog__card__item{
    display: flex;
    gap:20px;
    align-items:flex-start ;
    justify-content: center;
}
.blog__card__item__detail{
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
    justify-content: flex-start;
    gap: 1px;
    margin-top: -12px;
}
.blog__card__detail{
    display: flex;
    flex-direction: row;
    gap: 19px;
    width: 165px;
    height: 30px;
    left: 624px;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;
}
.blog__card__item__date-category{
    display: flex;
    flex-direction: row;
    gap: 19px;
    width: 165px;
    height: 30px;
    position: relative;
    top: -6px;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;
}
.blog__card__item__detail--title{
    position: relative;
    margin-top: -1px;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #000000;

}
.blog__card__item--img{
    display: flex;
    align-items:flex-start ;
    justify-content: center;

}
.blog__card__title{
    width: 378px;
    height: 72px;
    left: 530px;
    font-weight: 800;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #000000;
    margin: top 11px bottom 8px;
}

.blog__card__hr{
    width: 378px;
    height: 2px;
    background: #DEE1E6;
    border: none;
    margin-bottom: 26px;
}
/* BLOG section END*/

/* CTA section START*/
.cta__polygon1{
    position: absolute;
    margin-top: 238px;
    margin-left: 5px;
    margin-bottom:101px;
}

.cta__txt-heading{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 483px;
    height: 212px;
    padding-top: 74px;
    padding-bottom: 29px;
}
.cta__txt-heading-small{
    position: absolute;
    width: 113px;
    height: 17px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 1px;
}
.cta__txt-heading-title{
    width: 483px;
    height: 180px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin: 0px;
    padding-top: 25px
}
.cta__txt-body{
    width: 446px;
    height: 60px;
    font-weight: 600;
    margin-top: -1px;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
.cta__form__email, .cta__form__password,.cta__form__button{
    width: 371px;
    height: 60px;
    left: 840px;
    border-radius: 5px;
    border: none;
}
.cta__form__email, .cta__form__password{
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.02em;
    background-color: #F2F3F4; 
    opacity: 0.2;
}
.cta ::placeholder{
    color: #BBB5E0;
    opacity: 1;
    font-family: 'Gilroy-Medium';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.02em;
}
.cta__form__button{
    background: #FF7F5C;
    color: #FFFFFF;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}
/* CTA section END*/
/* FOOTER section START*/


footer__items-main-title{
    width: 91px;
    height: 28px;
    left: 172px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #1B1C31;
}
.footer__items-main-txt{
    width: 213px;
    height: 56px;
    left: 172px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #757095;
}
.footer__items-main-icons{
    display: flex;
    flex-direction: row;
    gap:16px;
}
.footer__items-company-title{
    width: 97px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    color: #181433;
}
.footer__items-company p{
    width: 69px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #181433;
}
.footer__items-resources-title{
    width: 108px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    color: #181433;
}

.footer__items-resources p{
    width: 174px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #181433;
}
.footer__items-newsletter-title{
    width: 200px;
    height: 24px;
    left: 923px;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    color: #181433;
}
.footer__items-newsletter-form{
    display: flex;
    flex-direction: row;
    background: #F9F9F9;
}
.footer__items-newsletter-form-input{
    width: 240px;
    height: 52px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #181433;
    opacity: 0.2;
    border: none;
}
.footer__items-newsletter-form-btn{
    width: 149px;
    height: 52px;
    background: #3734A9;
    color: white;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    border: none;
}
.footer__items-newsletter-txt{
    width: 329px;
    height: 52px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #181433;
    opacity: 0.5;
}

.footer__hr{
    height: 2px;
    background-color: #E5E5EA;
    border: none;
    margin-bottom: 40px;  
}

.footer__copyright{
    position: absolute;
    height: 26px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #181433;
}
/* FOOTER section END*/

