.backCard {
    box-sizing: border-box;
    position: relative;
    width: 342px;
    height: 388px;
    top: 3%;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
    border-radius: 22px;
}

body {
    display: flex;
    flex-direction: column;
}
h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 74px;
    letter-spacing: -0.03em;
    width: 580px;
    height: 222px;
    color: #000000;
}

h3 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-left: 50px;
    color: #111235;
}

h2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -0.03em;
    width: 486px;
    height: 180px;
    color: #000000;
}

h5 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #3734A9;
}

h6 {
    width: 400px;
    height: 60px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;
}

.name {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin: 0;
}

.job {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #6C6C6C;
}

.person {
    display: flex;
    height: 50px;
    margin-bottom: 37px;
}

.person_text {
    margin-left: 17px;
}

.Theresa_Photo {
    width: 50px;
    margin-left: 50px;
    background: #FFAA00;
    border-radius: 25px;
}

.Albert_Photo {
    width: 50px;
    margin-left: 50px;
    background: #009E9D;
    border-radius: 25px;
}

.Robert_Photo {
    width: 50px;
    margin-left: 50px;
    background: #0091D0;
    border-radius: 25px;
}

.SeeMore {
    margin-left: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FF6160;
}

.frontCard {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 44%;
    left: 62%;
    width: 370px;
    height: 302px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
    border-radius: 22px;
    align-items: center;
    justify-content: center;
}

.ArName {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color: #111235;
}

.ArText {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #6C6C6C;
}

.ContactButton {
    width: 166px;
    height: 42px;
    background: #0091D0;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Contact {
    margin: 0%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.blueTick {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 90%;
    top: -10%;
    z-index: 9;
}

.textsNextToCards {
    top: 70%;
    left: 70%;
}

.yellowTick {
    border-radius: 25px;
    background: #FDBC64;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.ticks {
    display: flex;
    align-items: center;
}

.tickText {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: -0.02em;
    margin-left: 10px;

}

.first-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.second-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #000000;
    text-align: center;
}

.textUnderTitle {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    width: 604px;
    height: 60px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;
    text-align: center;
}

.third-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardBox {
    box-sizing: border-box;
    width: 380px;
    height: 350px;
    margin-left: 20px;
    margin-right: 20px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 22px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cardTitle {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    width: 250px;
    height: 66px;
    letter-spacing: -0.03em;
    color: #1B1C31;
}

.cardText {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;
    width: 280px;
    height: 90px;
}

.readMore {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #01966B;
    align-self: self-start;
    margin-left: 50px;
}

.button {
    width: 259px;
    height: 60px;
    background: #4F46BA;
    border-radius: 10px;
    margin: 50px auto;
}

.buttonText {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.navBar {
    display: flex;
    justify-content: space-between;
}

.signIn {
    display: flex;
}

.navigation {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    margin-left: 15px;
    margin-right: 15px;
}

.startButton {
    background: #4F46BA;
    border-radius: 10px;
    width: 137px;
    height: 52px;
}

.startButtonText {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.manage {
    margin-left: 4rem;
}

.manageText {
    width: 400px;
    height: 90px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;
}

.manageButton {
    background: #3734A9;
    border-radius: 47px;
    width: 142px;
    height: 60px;
    margin-right: 3rem;
    justify-content: center;
    align-items: center;
}

.manageButtonText {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.manageButtons {
    display: flex;
    justify-content: start;
    width: 550px;
}

.playText {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #3734A9;
    width: 134px;
    height: 30px;
    margin-left: 10px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.getStarted {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #3734A9;
    width: 221px;
    height: 30px;
}

.Email {
    background: #FFFFFF;
    border: 1px solid #DFE4F1;
    border-radius: 5px;
    width: 356px;
    height: 60px;
    align-items: center;
    display: flex;
    margin-top: 20px;
}

.login {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-right: 3rem;
}

.EmailText {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;
    opacity: 0.4;
    margin-left: 10px;
}

.getStartedButton {
    background: #FF7F5C;
    border-radius: 5px;
    width: 356px;
    height: 60px;
    margin-top: 20px;
}

.getStartedButtonText {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.trust {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.blue {
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -1;
}

.polygon {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
}

.bigPolygon {
    position: absolute;
    right: 0;
    top: 170%;
    z-index: -1;
}

@media screen and (max-width: 1070px){
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .manage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
    .login {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        margin-right: 0;
        justify-content: center;
        align-self: center;
    }
}

@media  screen and (max-width: 1300px) {
    .first-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: 100px;
        margin-right: 100px;
    }
    .textsNextToCards {
        display: flex;
        flex-direction: column;
        margin-top: 6rem;
        top: 70%;
        align-items: start;
        align-self: center;
    }
    .third-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-self: center;
    }
    .cardBox {
        box-sizing: border-box;
        width: 380px;
        height: 350px;
        margin-left: 20px;
        margin-right: 20px;
        background: #FFFFFF;
        border: 1px solid #DFDFDF;
        border-radius: 22px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }
    .backCard {
        box-sizing: border-box;
        position: relative;
        width: 342px;
        height: 388px;
        top: 3%;
        left: -3rem;
        background: #FFFFFF;
        border: 1px solid #DFDFDF;
        box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
        border-radius: 22px;
    }
}