.backCard {
    box-sizing: border-box;
    position: relative;
    width: 342px;
    height: 388px;
    top: 7%;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
    border-radius: 22px;
}

h3 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-left: 50px;
    color: #111235;
}

h2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -0.03em;
    width: 486px;
    height: 180px;
    color: #000000;
}

h5 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #3734A9;
}

h6 {
    width: 400px;
    height: 60px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;
}

.name {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin: 0;
}

.job {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #6C6C6C;
}

.person {
    display: flex;
    height: 50px;
    margin-bottom: 37px;
}

.person_text {
    margin-left: 17px;
}

.Theresa_Photo {
    width: 50px;
    margin-left: 50px;
    background: #FFAA00;
    border-radius: 25px;
}

.Albert_Photo {
    width: 50px;
    margin-left: 50px;
    background: #009E9D;
    border-radius: 25px;
}

.Robert_Photo {
    width: 50px;
    margin-left: 50px;
    background: #0091D0;
    border-radius: 25px;
}

.SeeMore {
    margin-left: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FF6160;
}

.frontCard {
    box-sizing: border-box;
    position: absolute;
    top: 44%;
    left: 62%;
    width: 370px;
    height: 302px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
    border-radius: 22px;
    justify-self: center;
    align-items: center;
}

.ArName {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color: #111235;
}

.ArText {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #6C6C6C;
}

.ContactButton {
    width: 166px;
    height: 42px;
    background: #0091D0;
    border-radius: 6px;
}

.Contact {
    margin: 0%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.blueTick {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 90%;
    top: -10%;
    z-index: 9;
}

.textsNextToCards {
    top: 70%;
    left: 70%;
}

.yellowTick {
    border-radius: 25px;
    background: #FDBC64;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
}

.ticks {
    display: flex;
    align-items: center;
}

.tickText {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: -0.02em;
    margin-left: 10px;

}

.first-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}


.title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #000000;
    text-align: center;
}

.textUnderTitle {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    text-align: center;
    font-size: 20px;
    width: 604px;
    height: 60px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;
    text-align: center;
}

.third-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardBox {
    box-sizing: border-box;
    width: 380px;
    height: 350px;
    margin-left: 20px;
    margin-right: 20px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 22px;
    justify-content: center;
    align-items: center;
}

.cardTitle {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    width: 250px;
    height: 66px;
    letter-spacing: -0.03em;
    color: #1B1C31;
}

.cardText {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;
    width: 280px;
    height: 90px;
}

.readMore {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #01966B;
}

.button {
    width: 259px;
    height: 60px;
    background: #4F46BA;
    border-radius: 10px;
    left: 40%;
    margin-top: 50px;
    position: absolute;
}

.buttonText {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.navBar {
    display: flex;
    justify-content: space-between;
}

.signIn {
    display: flex;
}

.navigation {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    margin-left: 15px;
    margin-right: 15px;
}

.startButton {
    background: #4F46BA;
    border-radius: 10px;
    width: 137px;
    height: 52px;
}